@mixin navbar {
  .desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 940px;
    margin: 30px auto;
    @include Pad {
      display: none;
    }
    .logo {
      width: 220px;
    }
    ul {
      margin: 0;
      gap: 60px;
      li {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      .cart-icon {
        margin-left: 19px;
      }
    }
  }
  .mobile-nav {
    display: none;
    padding: 30px;
    justify-content: space-between;
    @include Pad {
      display: flex;
    }
    .toggle-btn {
      cursor: pointer;
    }
    .mobile-nav-logo {
      width: 114px;
      height: 18px;
    }
  }
  .mobile-nav-list {
    text-align: center;
    display: none;
    ul {
      padding: 0;
      li {
        font-size: 20px;
        margin-bottom: 5px;
        a {
          color: $sweet-green-dark;
          &:hover {
            color: rgba(200, 57, 46, 0.921);
            border-bottom: 1px solid rgba(200, 57, 46, 0.921);
          }
        }
      }
    }
  }
  .mobile-nav-list-active {
    @include Pad {
      display: block;
    }
  }
}
