//colors
$sweet-green-dark: #3f5d45;
$sweet-green: #8da291;
$sweet-green-light: #eaf0ed;
$button-yellow: #ffe180;
$button-yellow-hover: rgb(255, 235, 175);
//font-size
$font-s: 16px;
$font-m: 20px;
$font-l: 24px;
$font-xl: 36px;
